<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um site informativo relacionado à Betta">
    <link rel="stylesheet" href="/assets/css/sobre.css">
    <title>Betta - Sobre</title>
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
      <!-- CSS Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <header id="#">
  <!-- Cabeçalho + menu -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <!--a class="navbar-brand" href="#">Logo</a-->

      <a class="navbar-brand" href="/">
        <img src="/assets/images/logo.png" alt="logo">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/views/sobre.html">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    </header>

    
    <main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-escrito-titulo">Betta Site</h1>
                <h2 class="conteudo-principal-escrito-subtitulo">O melhor site do mundo da tecnologia!</h2>
                <div class="botao">
                    <button class="conteudo-principal-escrito-botao" onclick="(window.location.href='/')">Inicio</button>
                </div>
            </div>
        </section>
        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo" id="nos">Quem Somos?</h3>
            <div class="conteudo-secundario-paragrafo">
                <p class="conteudo-secundario-paragrafo">A Betta foi criada dia 26/07/2022, era uma comunidade de vazamentos de scripts, bases, etc... Tinhamos também a parte da loja que vendemos muitos produtos feitos por nós mesmos e sempre estamos inovando nossos sistemas e nossos produtos, além de uma comunidade de desenvolvedores. Hoje em dia somos um site focado na tecnologia tentando sempre atualizar nossos anuncios para toddo mundo ficar sabendo o que está acontecendo no mundo da tecnologia.</p>
            </div>
        </section>
    </main>
    <footer class="rodape">
        <b>Betta | © Todos os direitos reservados.</b>
    </footer>
    <a href="#" id="topo"><i class="bi bi-arrow-up-circle"></i></a>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
  crossorigin="anonymous"></script>
</body>
</html>